<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is azk?
      </h3>
      <p>
        <a href="http://www.azk.io" target="_blank">azk</a> is an open-source command-line tool to help developers orchestrate development environments. It's built on top of containers and VMs, making it much easier to have separate and isolated applications.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How do I use it?
      </h3>
      <p>
        You can start using <a href="http://www.azk.io" target="_blank">azk</a> right now! It's available for <a href="http://docs.azk.io/en/installation/mac_os_x.html" target="_blank">Mac</a> and <a href="http://docs.azk.io/en/installation/linux.html" target="_blank">Linux</a>, and you can go to our <a href="http://docs.azk.io/" target="_blank">documentation</a> and follow the installation instructions there, or check out the GitHub repository <a href="https://github.com/azukiapp/azk" target="_blank">here</a>.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Why crowdfunding?
      </h3>
      <p>
        <a href="http://www.azk.io" target="_blank">azk</a> is made by the developers working at Azuki. The project was started over a year ago, and right now we have a team of 6 people working on it. We need to support these people, and we all believe that <a href="http://www.azk.io" target="_blank">azk</a> is a tool that can help every single developer.
      <p>
    </div>
  </div>
</div>
