<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is azk?
      </h3>
      <p>
        azk is an open-source command-line tool to help developers orchestrate development environments. It's built on top of containers and VMs, making it much easier to have separate and isolated applications.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How do I use it?
      </h3>
      <p>
        You can start using azk right now! It's available for Mac and Linux, and you can go to our documentation and follow the installation instructions there, or check out the GitHub repository here.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Why are you doing a crowdfunding campaign?
      </h3>
      <p>
        azk is made by the developers working at Azuki. The project has been started over a year ago, and right now we have a team of 6 people working on it. We need to support these people, and we all believe that azk is a tool that can help every single developer.
      <p>
    </div>
  </div>
</div>
