<div class="gray_background">
  <div class="wrapper center" id="middle_reserve">
    <h2>Awesome Companies Supporting Us</h2>
  </div>
  <div class="wrapper center">
    <h4>Gold Sponsors</h4>
  </div>
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <a href="" target="_blank"><img alt="dualtec logo" src="/assets/sponsors/dualtec.png" /></a>
      <h6>Dualtec Cloud Builders</h6>
    </li>
    <li id="section-2">
      <a href="" target="_blank"><img alt="coreos logo" src="/assets/sponsors/coreos.png" /></a>
      <h6>CoreOS</h6>
    </li>
  </ul>
  <div class="wrapper center">
    <h4>Silver Sponsors</h4>
  </div>
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <a href="" target="_blank"><img alt="jetbrains logo" src="/assets/sponsors/jetbrains.png" /></a>
      <h6>JetBrains</h6>
    </li>
    <li id="section-2">
      <a href="" target="_blank"><img alt="google logo" src="/assets/sponsors/google.png" /></a>
      <h6>Google</h6>
    </li>
  </ul>
</div>
